*{
    margin: 0px;
    padding: 0px;
    color:white;
}
/* body{
    
} */
header{
    background: url('lostDuter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
}
#contenier{
    display: grid;
    position: relative;
    background-color: #000000;

}
#N,#X{
    font-size: 34px;
    color: red;
    position: relative;
    top: 0px;
}
#E,#I{
    font-size: 32px;
    color: red;
    position: relative;
    top: 0px;
}
#T,#L{
    font-size: 30px;
    color: red;
    position: relative;
    top: 0px;
    
}
#F{
    font-size: 28px;
    color: red;
    position: relative;
    top: 0px;
}
#net{
    position: relative;
    left: 10%;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.082);
}
#nav_2{
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 300;
    position: relative;
    top: 10px;  
    left: 10%;
    display: flex;
    list-style-type: none;

}
li{
    padding: 5px;
}

.nav_2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* You can change the color to your preference */
    transition: width 0.3s ease; /* Adjust the transition speed as needed */
  }

  .nav_2:hover::before {
    width: 100%;
  }
  #Nav_Search{
    position: relative;
    right: -6%;
    float: right;
  }

#Dateout{
    position: relative;
    top: 5%;
    left: 8%;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
#MoviesSection{
    position: relative;
    top: 80px;
    left: 40px;
    font-size: 42px;
}
#textPreview{
    position: relative;
    top: 97px;
    left: 70px;
    
}
.navMenu:hover{
    font-weight: 700;
}
#play{
    position: relative;
    top: 150px;
    left: 50px;
    width: 70px;
    padding: 5px;
    background: none;
    border: 2px solid red;
    border-radius: 20px;
    cursor: pointer;
    

}
#play:hover{
    background-color: red;
    box-shadow:0px 0px 10px 5px red ;
    transition:  1.5s ease-in-out;
    
}
#watchLater{
    position: relative;
    top: 150px;
    left: 50px;
    width: 100px;
    padding: 5px;
    color: #8a8a8a;
    background: none;
    border: 2px solid red;
    border-radius: 20px;
    cursor: pointer;
}
#watchLater:hover{
    background-color: red;
    color: aliceblue;
    box-shadow:0px 0px 10px 5px red ;
    transition:  1.5s ease-in-out;
}
#LISTsection{
    /* margin: 10px; */
    background: rgb(202, 202, 202);
    color: white;
    position: relative;
    top: 20px;
    box-shadow: 0px 0px 80px 90px rgb(224, 91, 91);
    border: none;
    
    
}
.SliderSection{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: grid;
    grid-template-columns:repeat(10,350px);
    gap: 30px;
    height: 30vh;
    border: 20px;
    overflow-x: scroll;
}
.Slider_previewSection{
   
    width: 30vh;
}
#LISTsection h1{
    color:rgb(0, 0, 0);
    position: relative;
    top: 10px;left: 20px;bottom: 5px;
}
img{
    width: 50vh;
    height: 30vh;
    gap: 10px;
    border: 1px solid white;
    
}
